<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/styles.css">
    {% block meta%}{% endblock %}
    {% block title %}<title>techShuffle</title>{% endblock %}
</head>

<body>
    <header class="header">
        <img id="logo" src="static/techShuffle.png">
        <div class="company-logo">
            <h1 id="company-name">techShuffle</h1>
            <p id="company-slogan">shuffle into dev interviews</p>
            <h1> Welcome {{ user.username }} ! 
            </h1>
        </div>
    </header>
    <div class="content">
        {% block sidebar %}
        <ul class="sidebar-nav">
            <li id="home">Home<a href="{% url 'home' %}"></a></li>
            {% if request.user.is_authenticated %}
            <li id="profile">Profile {{ profile.user }}<a href="{% url 'profile' %}"></a></li>
            <li class="log"><a href="{% url 'auth_logout' %}">Logout</a></li>
            {% else %}
            <li class="log"><a href="{% url 'auth_login' %}">Register/Login</a></li>
            {% endif %}
            <ul class="category-list"> Category
                {% if categories %}
                    {% for category in categories%}
                    <li class="category"><a href="">{{category.deck_category}}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </ul>
        {% endblock %}
        <div class="block-content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>

</html>