<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% meta block %}
    <title>techShuffle</title>
</head>
<body>
    <header class="header">
        <img src="logo">
        <div id="header-info">
            <h1 id="company-name">techShuffle</h1>
            <p id="company-slogan">shuffle into dev interviews</p>
        </div>
    </header>
    <nav>
        <ul>
            <li>Home</li>
            <li>Profile</li>
            <li></li>
            <li></li>
        </ul>
    </nav>
</body>
</html>