{% extends 'base.html' %}
{% block content %}
<h1>{{ category }} decks</h1>
    {% if decks %}
        {% for deck in decks %}
        <div class="third-deck">
            <div class="second-deck">
                <div class="one-deck">
                    <h3 class="deck-item" id="deck-title"><a href="{% url 'view_deck' deck_id=deck.id %}">{{deck.title}}</a></h3>
                    <p class="deck-item" id="deck-created_by">{{deck.created_by}}</p>
                    <p class="deck-item" id="deck-created_on">{{deck.date_created}}</p>
                    <p class="deck-item" id="deck-category">{{deck.category}}</p>
                </div>
            </div>
        </div>
        {% endfor %}    
    {% else %}
    <p>There are no decks in {{ category.deck_category }} category.</p>
    {% endif %}
{% endblock %}