{% extends 'base.html' %}
{% block content %}

<div>
    <p>At techShuffle we want everyone who is searching for developer jobs to succeed in their technical interviews. How do you prepare for a test or interview? ... with flashcards!!</p>
    <p>The decks below have questions that are commonly used in interviews, or cover important vocabulary. Each deck is connected to category assocaited with a specific language or framework(eg. Python, JavaScript), or general interview prep. </p>
    <p>Now go study and ace that interview!</p>
    <div id="show-decks">
        <h3> Decks to shuffle through:</h3>
        <div class="deck-package">
        {% if decks %}
            {% for deck in decks %}
            <div class="third-deck">
                <div class="second-deck">
                    <div class="one-deck">
                        <h3 class="deck-item" id="deck-title">{{deck.title}}</h3>
                        <p class="deck-item" id="deck-created_by">By: {{deck.created_by}}</p>
                        <p class="deck-item" id="deck-created_on">{{deck.date_created}}</p>
                        <p class="deck-item" id="deck-category">{{deck.category}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
              <div class="pagination">
    <span class="step-links">
        {% if decks.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ decks.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ decks.number }} of {{ decks.paginator.num_pages }}.
        </span>

        {% if decks.has_next %}
            <a href="?page={{ decks.next_page_number }}">next</a>
            <a href="?page={{ decks.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div> 
        {% else %}
        <p>The decks are not connecting. :(. </p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

