{% extends 'base.html' %}

{% block content %}
<div>
    <p>At techShuffle we want everyone who is searching for developer jobs to succeed in their technical interviews. How do you prepare for a test or interview? ... with flashcards!!</p>
    <p>The decks below have questions that are commonly used in interviews, or cover important vocabulary. Each deck is connected to category assocaited with a specific language or framework(eg. Python, JavaScript), or general interview prep. </p>
    <p>Now go study and ace that interview!</p>
    <div id="show-decks">
        <h3> Decks to shuffle through:</h3>
        <div class="deck-package">
        {% if decks %}
            <div class="one-deck">
                {% for deck in decks %}
                <h2 class="deck-item" id="deck-title">{{deck.title}}</h2>
                <p class="deck-item" id="deck-created_by">{{deck.created_by}}</p>
                <p class="deck-item" id="deck-created_on">{{deck.created_on}}</p>
                <p class="deck-item" id="deck-category">{{deck.category}}</p>
                {% endfor %}
            </div>
        {% else %}
        <p>The decks are not connecting. :(. </p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

