{% extends 'base.html' %}

{% block content%}

<h1  class="pageheader" id="profile-user-name">{{ user }}'s decks</h1>

    {% if decks %}
        {% for deck in decks %}
        <div class="deck-package">

        <div class="third-deck">
            <div class="second-deck">
                <div class="one-deck">
                    <h3 class="deck-item" id="deck-title"><a href="{% url 'view_deck' deck_id=deck.id %}">{{deck.title}}</a></h3>
                    <div class="deck-item empty">&nbsp;</div>
                    <p class="deck-item" id="deck-created_by">By: {{deck.created_by}}</p>
                    <p class="deck-item" id="deck-created_on">{{deck.date_created}}</p>
                    <p class="deck-item" id="deck-category">{{deck.category}}</p>
                    <div class="deck-item empty">&nbsp;</div>
                    <div class="deck-item empty">&nbsp;</div>
                    <div class="deck-item empty">&nbsp;</div>
                    <div class="deck-item empty">&nbsp;</div>
                    <div class="deck-item empty">&nbsp;</div>
                    <div class="deck-item empty">&nbsp;</div>
                    <div class="deck-item empty">&nbsp;</div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="pagination">
    <span class="step-links">
        {% if decks.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ decks.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ decks.number }} of {{ decks.paginator.num_pages }}.
        </span>

        {% if decks.has_next %}
            <a href="?page={{ decks.next_page_number }}">next</a>
            <a href="?page={{ decks.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>    
    {% else %}
    <p>You haven't created any decks</p>
    {% endif %}
    {% endblock %}
</div>
