{% extends 'base.html' %}

{% block content%}
<h1 id="profile-user-name">{{ user }}'s decks</h1>
    {% if decks %}
        {% for deck in decks %}
        <div class="third-deck">
            <div class="second-deck">
                <div class="one-deck">
                    <h2 class="deck-item" id="deck-title">{{deck.title}}</h2>
                    <p class="deck-item" id="deck-created_by">{{deck.created_by}}</p>
                    <p class="deck-item" id="deck-created_on">{{deck.date_created}}</p>
                    <p class="deck-item" id="deck-category">{{deck.category}}</p>
                </div>
            </div>
        </div>
        {% endfor %}    
    {% else %}
    <p>You haven't created any decks</p>
    {% endif %}
    {% endblock %}