{% extends 'base.html' %}

{% block content %}
<script src="/static/card.js"></script>

{% if deck %}
<div class="third-deck view-deck">
    <div class="second-deck view-deck">
        <div class="one-deck">
            <h2 class="deck-item" id="deck-title">{{deck.title}}</h2>
            <div class="deck-item empty">&nbsp;</div>
            <p class="deck-item" id="deck-created_by">Created by: {{deck.created_by}}</p>
            <p class="deck-item" id="deck-created_on">{{deck.date_created}}</p>
            <p class="deck-item" id="deck-category">{{deck.category}}</p>
            <div class="deck-item empty">&nbsp;</div>
            <div class="deck-item empty">&nbsp;</div>
            <div class="deck-item empty">&nbsp;</div>
            <div class="deck-item empty">&nbsp;</div>
            <div class="deck-item empty">&nbsp;</div>
            <div class="deck-item empty">&nbsp;</div>
            <div class="deck-item empty">&nbsp;</div>
        </div>
    </div>
    </div>
</div>
<div class="mycards">

{% endif %}
{% if deck %}
<div class="third-deck view-deck">
    <button class="change-card" id="view-previous" type="button">Previous Card</button>
    <div class="second-deck view-deck">
        <button class="change-card" id="view-next" type="button"> Next Card </button>
        <div class="one-deck">
            {% if cards %}
            <h2 class="deck-item" id="deck-title-card">{{deck.title}}</h2>
            <div id="card-count" style="display:none">{{cards.count}}</div>
            <div class="deck-item empty">&nbsp;</div>
            {% for card in cards %}
                <div class="card" id="card-{{forloop.counter0}}" style="display:none">
                <div id="card-question" class="deck-item">Q: {{card.question}} </div>
                <div class="deck-item empty">&nbsp;</div>
                <div id="card-answer" class="deck-item"><strong id="a-for-answer">A:</strong> {{card.answer}} </div>
                <div class="deck-item empty answer-extended">&nbsp;</div>
                <div class="deck-item empty">&nbsp;</div>
                <div id="card-url" class="deck-item"><a href="{{card.url}}">More info</a></div>
                <div class="deck-item empty">&nbsp;</div>
                </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>
<div class="mycards">

{% endif %}
</div>


{% endblock %}