*{
    margin: 0 auto;
    /* dark green: rgb(117,187,75);
    light green: rgb(176, 221, 144);
    blue: rgb(167, 198,253);
    pink: rgb(245, 164, 191);
    light gray: rgb(180,180,180);
    dark gray: rgb(92,92,92);*/
    font-family: 'Merienda One', Helvetica, sans-serif;
    color: rgb(47,47,47);
}

#logo{
    height: 200px;
    padding: 1rem;
    padding-right: .5rem;
    margin: 0;
}
#company-name{
    font-weight: normal;
}
.header{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.company-logo{
    display:flex;
    flex-direction: row;
    align-items:center;
    padding:0;
}
#company-slogan {
    padding-top:0;
    padding-bottom: 1rem;
}
.welcome{
    background-color: rgb(47,47,47);
    color: white;
    margin:0;
    text-align: center;
    padding: .25rem;
    font-size: .75rem;
}
ul{
    list-style: none;
    background-color: rgb(245, 164, 191);
    padding-left: 0;
    margin:0;
}
li{
    background-color: rgb(245, 164, 191);
    display: block;
    float:left;
    padding:1rem;
    position:relative;
    text-decoration:none;
    transition-duration: 0.5s;
}
li:hover,
li:focus-within{
    background-color: rgb(213, 132, 159);
    cursor:pointer;
}
li:focus-within a{
    outline:none;
}
ul li ul{
    background-color: rgb(245, 164, 191);
    visibility: hidden;
    opacity:0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left:0;
    display:none;
}
ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus{
    visibility: visible;
    opacity: 1;
    display: block;
}
ul li ul li {
    clear: both;
    width: 100%;
}
/* information and support acquired from https://css-tricks.com/solved-with-css-dropdown-menus/*/
.topbar-nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: .75rem;
}
.nav-bar-item{
    font-weight: 800;
}
a{
    color: rgb(47,47,47);
    text-decoration: none;
}
.deck-package{
    display: flex;
    flex-direction: column;
}
.third-deck{
    padding-left: .05rem;
    padding-top: .05rem;
    border-left:.15rem solid rgb(92,92,92);
    border-top:.15rem solid rgb(92,92,92);
    margin: 3rem;
    width: 37.5rem;
    height: 22.5rem;

}
.second-deck{
    padding-left: .05rem;
    padding-top: .05rem;
    border-left:.15rem solid rgb(92,92,92);
    border-top:.15rem solid rgb(92,92,92);
    margin: .5rem;
    width: 37.5rem;
    height: 22.5rem;

}
.one-deck{
    padding-left: .05rem;
    padding-top: .05rem;
    border:.15rem solid rgb(92,92,92);
    margin: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 37.5rem;
    height: 22.5rem;
}
.deck-item{
    padding-left: 2rem;
    padding-right: 5rem; 
    padding-top: .25rem;
    margin:0;
    border-bottom:.1rem solid rgb(167, 198,253);
    height:2rem;
}
.deck-item .empty{
    height: 2rem;
}
#deck-title{
    border-bottom:.1rem solid rgb(245, 164, 191);
    font-size:2rem;
    height: 2.5rem;
}
.card{
    width:100%;
}
#card-question{
    font-size: .75rem;
}
#card-answer{
    font-size: .75rem;
    background-color: white;
    color: white;
}
#card-answer:hover{
    background-color: rgb(47,47,47);
}
.answer-extended:hover{
    background-color: rgb(47,47,47);
}
#card-url{
    font-size: .75rem;
    background-color: white;
}
#card-url:hover{
    background-color:rgb(167, 198,253);
}
.view-deck{
    padding-left: 1.5rem;
}
.change-card{
    border-radius: 30%;
    border-left: .25rem solid rgb(92,92,92);
    border-top: .25rem solid rgb(92,92,92);
    margin-left:0;
}
.show-card{
    border-top:.15rem solid rgb(92,92,92);
}
#deck-title-card{
    border-bottom:.1rem solid rgb(245, 164, 191);
    font-size:2rem;
    height: 2.5rem;
}