*{
    margin: 0 auto;
    /* dark green: rgb(117,187,75);
    light green: rgb(176, 221, 144 );
    blue: rgb(167, 198,253);
    pink: rgb(245, 164, 191);
    light gray: rgb(180,180,180);
    dark gray: rgb(92,92,92);*/
}

#logo{
    height: 2.5rem;
    padding: 1rem;
    margin: 0;
}
.header{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: baseline;
}
.company-logo{
    display:flex;
    flex-direction: column;
}

li{
    display: block;
    transition-duration: 0.5s;
    padding:.25rem;
}
li:hover{
    cursor:pointer;
}
ul{
    display: flex;
    flex-direction: row;

}
ul li ul{
    visibility: hidden;
    opacity:0;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left:0;
    display:none;
}
ul li:hover > ul,
ul li ul:hover{
    visibility: visible;
    opacity: 1;
    display: block;
}
ul li ul li {
    clear: both;
    width: 100%;
}
.topbar-nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color:rgb(167, 198,253);

}
.nav-bar-item{
    font-weight: 800;
    color: white;
}
a{
    color: black;
    text-decoration: none;
}
.deck-package{
    display: flex;
    flex-direction: column;
}
.third-deck{
    padding-left: .05rem;
    padding-top: .05rem;
    border-left:.15rem solid rgb(92,92,92);
    border-top:.15rem solid rgb(92,92,92);
    margin: 3rem;
    width:260px;
    height: 160px;
}
.second-deck{
    padding-left: .05rem;
    padding-top: .05rem;
    border-left:.15rem solid rgb(92,92,92);
    border-top:.15rem solid rgb(92,92,92);
    
    margin: .5rem;
    width:280px;
    height: 180px;
}
.one-deck{
    padding-left: .05rem;
    padding-top: .05rem;
    border:.15rem solid rgb(92,92,92);
    margin: .5rem;
    width:300px;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.deck-item{
    padding-left: 2rem;
    padding-right: 5rem;
    padding-top: 1rem;
    padding-top: 1rem;
    margin:0;
}
#deck-title{
    border-bottom:.1rem solid rgb(245, 164, 191);
}
#deck-created_by{
    border-bottom:.1rem solid rgb(167, 198,253);
}
#deck-created_on{
    border-bottom:.1rem solid rgb(167, 198,253);
}
#deck-category{
    border-bottom:.1rem solid rgb(167, 198,253);
}